body {
  font-family: Helvetica,Arial,sans-serif;
}

#gameboard {
  display:grid;
  grid-template-areas:
  "astronaut spaceship image"
  "start-btn start-btn start-btn"
  "word word word"
  "alphabet alphabet alphabet";
  justify-items: center;
}

#start{
  height: 50px;
  width: 100px;
  grid-area: start-btn;
}

#spaceman {
  grid-area: astronaut;
}

#spaceman img {
  height: 300px;
  width: 300px;
}

#spaceship {
  grid-area: spaceship;
}

#spaceship-img {
  height: 300px;
  width: 300px;
  grid-area: image
}

#word {
  height: 100px;
  width: 300px;
  grid-area: word;
  text-align: center;
  margin-top: 100px;
}

#alphabet {
  height: 200px;
  width: 550px;
  grid-area: alphabet;
  text-align: center;
}

#alphabet button {
  font-size: 2rem;
}

span {
  margin-top: 100px;
  font-size: 5rem;
  text-align: center;

}
