body {
  font-family: 'Chakra Petch', sans-serif;
  min-width: 500px;
  margin: 0 auto;
  background-color: #C3CDDE;
}

#gameboard {
  display:grid;
  grid-template-areas:
  "welcome-msg"
  "rules-msg"
  "scene"
  "start-btn"
  "word"
  "alphabet";
  grid-template-columns: 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

#welcome-msg {
  border: 1px solid black;
  margin: 10px; 
  font-size: 2rem;
  text-align: center;
  grid-area: welcome-msg;
  background-color: white;
}

#rules-msg {
  border: 1px solid black;
  font-size: 1rem;
  text-align: center;
  grid-area: rules-msg;
  margin: 10px;
  background-color: white;
}

#start{
  height: 50px;
  width: 100px;
  grid-area: start-btn;
  margin-top: 10px;
}

#scene {
  grid-area: scene;
  background-image: url(img/backgroung.png);
  background-color: grey;
  background-size: contain; 
  height: 500px;
  width: 500px;
  position: relative;
}

#spaceman {
  background-image: url(img/astronaut.png);
  background-size: 50%;
  background-repeat: no-repeat;
  top: 330px;
  left: 40px;
  height: 100px;
  width: 100px;
  position: absolute;
}

#word {
  grid-area: word;
  text-align: center;
  font-size: 4rem;
  text-align: center;
}

#alphabet {
  height: 200px;
  width: 500px;
  grid-area: alphabet;
  text-align: center;
}

#alphabet button {
  font-size: 1.5rem;
}

#word span {
  margin: 10px;
  margin-top: 100px;
  font-size: 4rem;
  text-align: center;
}

#spaceship-components {
  text-align: center;
  position: absolute;
  top: 20px;
  width: 200px;
  height: 200px;
  left: 150px;
}

#top {
  background-image: url(img/top.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  left: 62px;
  position: absolute;
}

#body {
  background-image: url(img/body+halo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 14px;
  left: 10px;
}

#lights {
  background-image: url(img/lights.png);
  background-size: contain;
  height: 20px;
  background-repeat: no-repeat;
  width: 125px;
  position: absolute;
  top: 90px;
  left: 34px;
}

#bottom {
  background-image: url(img/bottom.png);
  background-size: contain;
  height: 30px;
  background-repeat: no-repeat;
  width: 87px;
  position: absolute;
  top: 127px;
  left: 55px;
}

#beams {
  background-image: url(img/beams.png);
  background-size: contain;
  height: 300px;
  background-repeat: no-repeat;
  width: 185px;
  position: absolute;
  top: 150px;
  left: 10px;
}
