body {
  font-family: Helvetica,Arial,sans-serif;
}

#gameboard {
  display:grid;
  grid-template-areas:
  "welcome-msg welcome-msg welcome-msg"
  "rules-msg rules-msg rules-msg"
  "astronaut spaceship-components image"
  "start-btn start-btn start-btn"
  "word word word"
  "alphabet alphabet alphabet";
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

#welcome-msg {
  margin: 50px; 
  font-size: 2rem;
  text-align: center;
  grid-column: span 3;
  grid-area: welcome-msg;
}

#rules-msg {
  font-size: 1rem;
  text-align: center;
  grid-column: span 3;
  grid-area: rules-msg;
  margin-bottom: 10px; 
}

#start{
  height: 50px;
  width: 100px;
  grid-area: start-btn;
}

#spaceman {
  grid-area: astronaut;
}

#spaceman img {
  height: 300px;
  width: 300px;
}

#spaceship {
  grid-area: spaceship-components;
}

#spaceship-img {
  height: 300px;
  width: 300px;
  grid-area: image
}

#word {
  /* height: 100px;
  width: 300px; */
  grid-area: word;
  text-align: center;
  margin: 50px;
  grid-column: span 3;
  font-size: 5rem;
  text-align: center;
}

#alphabet {
  height: 200px;
  width: 550px;
  grid-area: alphabet;
  text-align: center;
}

#alphabet button {
  font-size: 2rem;
}

#word span {
  margin: 10px;
  margin-top: 100px;
  font-size: 5rem;
  text-align: center;
}
