#gameboard {
  display:grid;
  grid-template-areas:
  "astronaut spaceship"
  "start-btn start-btn"
  "word word"
  "letter letter";
  justify-items: center;
}

#start{
  height: 50px;
  width: 100px;
  grid-area: start-btn;
}

#spaceman {
  grid-area: astronaut;
}

#spaceman img {
  height: 300px;
  width: 300px;
}

#spaceship {
  grid-area: spaceship;
}

#spaceship img {
  height: 300px;
  width: 300px;
}

#word {
  height: 300px;
  width: 300px;
  grid-area: word;
}

#alphabet {
  height: 300px;
  width: 350px;
  grid-area: letter;
}
